= render partial: "layouts/shared/component_drawer"
%section.grid-12
  .width-12.grid-column-start-lg-2.width-lg-8
    %h1 Understanding Layout
    %p.h4
      Pragma encourages consistency and uniformity across devices and screen sizes by using uniform elements and spacing.
%section.grid-12
  .width-12.grid-column-start-lg-2.width-lg-8.grid-sm-1.grid-md-3
    .width-3
      %h2 Principles
    %div
      = image_tag "predictable.png", class:'img-fluid'
      %h3 Predictable
      %p Use intuitive and predictable layouts with consistent UI regions and spatial organization.
    %div
      = image_tag "consistent.png", class:'img-fluid'
      %h3 Consistent
      %p Layouts should be consistent in the use of grids, keylines, and padding.
    %div
      = image_tag "responsive.webp", class:'img-fluid'
      %h3 Responsive
      %p Layouts are adaptive and they react to input from a user, a device, and screen elements.
%section.grid-12
  .width-12.grid-column-start-lg-2.width-lg-8
    %div
      %h2 Responsive Layout Grid
      %p The Pragma responsive layout grid is an overarching guide to the placement of components and elements. The responsive layout grid adapts to screen sizes and orientation, ensuring consistency across layouts.
      %p The Pragma responsive layout grid is mdae up of three elements: columns, gutters, and margins.
    %div
      = image_tag "grid_layout.png", class:'img-fluid'
    %div
      %h3 Columns
      %p Content is placed in the areas of the screen hat contain columns.
      %p Pragma uses CSS Grid to define number of columns in your grid and column width are defined using percentages. Columns are fluid width and adjustable to any screen to display content adaptively. Number of columns and grid size need to be adjusted appropriately to display content.
    %div
      = image_tag "columns_layout.png", class:'img-fluid'
    %div
      %h3 Gutters (Grid Gap)
      %p Gutters are spaces between columns. They help separate the content.
      %p Gutter widths are fixed values at each breakpoints and can be configured differently as necessary to better separate the content and create more whitespace between the columns.
    %div
      = image_tag "gutter_layout.png", class:'img-fluid'
    %div
      %h3 Margins
      %p Margins are spaces between content, and the left and right edges of the screen.
      %p Margin widths are defined as fixed values at each breakpoint range. To better adapt to the screen, the margin width can change at different breakpoints. Wider margins are more appropriate for larger screens, as they create more whitespace around the perimeter of content.
    %div
      = image_tag "margin_layout.png", class:'img-fluid'
%section.grid-12
  .width-12.grid-column-start-lg-2.width-lg-8
    %div
      %h2 Breakpoints
      %p A breakpoint is a predetermined range of screen sizes that has specific layout requirements. The layout adjusts at the respective breakpoints to adapt to screensize and orientation.
    %div
      = image_tag "breakpoints_layout.png", class:'img-fluid'
    %div
      %h3 Breakpoint System
      %p Pragma provides responsive layouts using CSS Grid. Layouts using 1 through 12 columns are available to use across different screens and orientation.
      %p Each breakpoint range determines the number of columns, and recommended margins and gutters, for each display size.
      %div
        %table
          %thead
            %tr
              %th Breakpoint Range
              %th Window
              %th Recommended Columns
          %tbody
            %tr
              %td 576px
              %td Extra Small (xs)
              %td 1 or 2
            %tr
              %td 576px  768px
              %td Small (sm)
              %td 1 or 2
            %tr
              %td 768px  992px
              %td Medium (md)
              %td 3 or 4
            %tr
              %td 992px  1200px
              %td Large (md)
              %td 4 or 6
            %tr
              %td 1200px
              %td Extra Large (xl)
              %td 4 or 6
