= render partial: "layouts/shared/component_drawer"
%section.grid-12#getting-started
  .width-12.width-xl-10.grid-column-start-xl-2
    %h1 Getting Started
    %p Pragma UI is a visual approach that synthesizes the classic principles of good design with some easy to set up features and well defined and light HTML and CSS.
    %h2 Goals
    = image_tag "goals_header.webp", class:'img-fluid'
    .width-12.width-xl-10.grid-column-start-xl-2.grid-3
      .width-3.width-md-1
        %h3 Create
        %p Create a visual approach that synthesizes the classic principles of good design with possibility of innovation.
      .width-3.width-md-1
        %h3 Unify
        %p Develop a single underlying framework that will unify user experience across devices and input methods.
      .width-3.width-md-1
        %h3 Customize
        %p Expand visual approach to provide flexible foundation for innovation and brand expression.
    %h2 Principles
    = image_tag "principles_header.webp", class:'img-fluid'
    %h3 Pragma is the metaphor
    %p Pragma is inspired by Material Design which is inspired by the physical world and its textures, including how they reflect light and cast shadows. Paper and Ink surfaces have been reimagined.
    .width-12.width-xl-10.grid-column-start-xl-2.grid-3
      .width-3.width-md-1
        = image_tag "A.webp", class:'img-fluid'
        %h4 Bold, graphic, intentional
        %p Pragma is guided by print design methods - typography, grids, space, scale, color, and imagery — to create hierarchy, meaning, and focus that immerse viewers in the experience.
      .width-3.width-md-1
        = image_tag "flexible.webp", class:'img-fluid'
        %h4 Flexible Foundation
        %p The Pragma system is designed to enable brand expression. It’s integrated with a custom code base that allows the seamless implementation of components, plug-ins, and design elements.
      .width-3.width-md-1
        = image_tag "cross-device.webp", class:'img-fluid'
        %h4 Cross-device
        %p Pragma maintains the same UI across devices, using shared components.
