!!!
%html
  %head
    = render "application/favicon"
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title #{page_title}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    %link{href:"https://fonts.googleapis.com", rel: "preconnect", crossorigin: true}
    %link{href:"https://fonts.gstatic.com", rel: "preconnect", crossorigin: true}
    %link{href:"https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined&display=swap", rel: "preload", as: "font", crossorigin: true}
    %link{href:"https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap", rel: "preload", as: "font", crossorigin: true}
    %link{href:"https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined&display=swap", rel: "stylesheet"}
    %link{href:"https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap", rel: "stylesheet"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: "layouts/shared/header"
    = render partial: "layouts/shared/notification"
    %main
      = yield
      - if action_name === 'component'
        %p.documentation-top
          = link_to '#top', class: "button button-fab" do
            %i.material-icons keyboard_arrow_up